.thumbnail {
  width: 100%;
}


.video-title {
  margin-top: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}
.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;;
}

.channel-picture {

}

.video-info {
  
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
  vertical-align: top;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
